#!/usr/bin/make -f

export DEB_VERSION=$(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export BUILD_VERSION=v${DEB_VERSION}-debian-pragmatic
export GO111MODULE=on


%:
	dh $@

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	make
	
	mkdir -p debian/crowdsec-firewall-bouncer-oht-iptables/usr/sbin
	mkdir -p debian/crowdsec-firewall-bouncer-oht-nftables/usr/sbin

	cp crowdsec-firewall-bouncer-oht  debian/crowdsec-firewall-bouncer-oht-iptables/usr/sbin
	cp crowdsec-firewall-bouncer-oht  debian/crowdsec-firewall-bouncer-oht-nftables/usr/sbin

	mkdir -p debian/crowdsec-firewall-bouncer-oht-iptables/etc/crowdsec/bouncers/
	mkdir -p debian/crowdsec-firewall-bouncer-oht-nftables/etc/crowdsec/bouncers/
	install -m 0600 config/crowdsec-firewall-bouncer-oht.yaml debian/crowdsec-firewall-bouncer-oht-iptables/etc/crowdsec/bouncers/
	install -m 0600 config/crowdsec-firewall-bouncer-oht.yaml debian/crowdsec-firewall-bouncer-oht-nftables/etc/crowdsec/bouncers/

	mkdir -p debian/crowdsec-firewall-bouncer-oht-iptables/etc/systemd/system/
	mkdir -p debian/crowdsec-firewall-bouncer-oht-nftables/etc/systemd/system/

	BIN=/usr/sbin/crowdsec-firewall-bouncer-oht CFG=/etc/crowdsec/bouncers/ envsubst < config/crowdsec-firewall-bouncer-oht.service >  debian/crowdsec-firewall-bouncer-oht-iptables/etc/systemd/system/crowdsec-firewall-bouncer-oht.service
	BIN=/usr/sbin/crowdsec-firewall-bouncer-oht CFG=/etc/crowdsec/bouncers/ envsubst < config/crowdsec-firewall-bouncer-oht.service >  debian/crowdsec-firewall-bouncer-oht-nftables/etc/systemd/system/crowdsec-firewall-bouncer-oht.service

